body {
    margin: 0;
    padding: 0;
    background-image: url("../img/OIP.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 28px;
}