main {
    .container {
        h3 {
            text-align: center;
        }
    }
    #list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vh;
        .container {
            border: 2px solid black;
            width: 23%;
            box-shadow: 4px 4px 2px rgb(87, 87, 87);
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: rgb(206, 164, 97);
            border-radius: 12px;
            justify-content: space-between;
            img {
                border-radius: 100px;
                
            }
            h2 {
                text-transform: uppercase;
                text-align: center;
            }
            p {
                text-align: center;
                width: 80%;
            }
            a {
                color: black;
            }
            a:hover {
                color: grey;
                transition: all 0.3s ease-out;
            }
        }
    }
}