main {
    #user {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vh;
        .container {
            border: 2px solid black;
            width: 40%;
            box-shadow: 2px 2px 2px rgb(102, 102, 102);
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: rgb(206, 164, 97);
            border-radius: 12px;
            justify-content: space-between;
            h2 {
                text-transform: uppercase;
                text-align: center;
            }
            p {
                text-align: center;
            }
            a {
                color: black;
            }
            a:hover {
                color: grey;
                transition: all 0.3s ease-out;
            }
            a:last-of-type {
                padding-bottom: 1em;

            }
        }
    }
}