body header {
  background-color: rgb(95, 72, 43);
  box-shadow: 0px 6px 6px black;
}
body header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header .container h1 a {
  text-transform: uppercase;
  color: white;
}
body header .container h1 a:hover {
  color: rgb(145, 145, 145);
  transition: all 0.3s ease-out;
}
body header .container nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
body header .container nav ul li {
  width: 35vh;
  list-style: none;
}
body header .container nav ul li a {
  text-decoration: none;
  color: white;
}
body header .container nav ul li a:hover {
  border-bottom: 1px solid rgb(145, 145, 145);
  color: rgb(145, 145, 145);
  transition: all 0.3s ease-out;
}
body header .container .menu {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/OIP.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 28px;
}

main .container {
  padding-top: 2em;
}

main .container h3 {
  text-align: center;
}
main #list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vh;
}
main #list .container {
  border: 2px solid black;
  width: 23%;
  box-shadow: 4px 4px 2px rgb(87, 87, 87);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(206, 164, 97);
  border-radius: 12px;
  justify-content: space-between;
}
main #list .container img {
  border-radius: 100px;
}
main #list .container h2 {
  text-transform: uppercase;
  text-align: center;
}
main #list .container p {
  text-align: center;
  width: 80%;
}
main #list .container a {
  color: black;
}
main #list .container a:hover {
  color: grey;
  transition: all 0.3s ease-out;
}

main #sort {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vh;
}
main #sort .container {
  border: 2px solid black;
  width: 20%;
  box-shadow: 2px 2px 2px rgb(102, 102, 102);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(206, 164, 97);
  border-radius: 12px;
  justify-content: space-between;
}
main #sort .container h2 {
  text-transform: uppercase;
  text-align: center;
}
main #sort .container p {
  text-align: center;
}
main #sort .container a {
  color: black;
}
main #sort .container a:hover {
  color: grey;
  transition: all 0.3s ease-out;
}
main #sort .container a:last-of-type {
  padding-bottom: 1em;
}

main #user {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vh;
}
main #user .container {
  border: 2px solid black;
  width: 40%;
  box-shadow: 2px 2px 2px rgb(102, 102, 102);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(206, 164, 97);
  border-radius: 12px;
  justify-content: space-between;
}
main #user .container h2 {
  text-transform: uppercase;
  text-align: center;
}
main #user .container p {
  text-align: center;
}
main #user .container a {
  color: black;
}
main #user .container a:hover {
  color: grey;
  transition: all 0.3s ease-out;
}
main #user .container a:last-of-type {
  padding-bottom: 1em;
}

main #login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #login a {
  text-align: center;
}
main #login form {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
main #login form input {
  padding: 1em 1.2em;
}
main #login h2 {
  text-align: center;
}

.btn-add {
  padding: 1.5em 2em;
  background-color: rgb(145, 145, 145);
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgb(102, 102, 102);
  border: 1px solid white;
  color: white;
}

.btn-add:hover {
  color: rgb(145, 145, 145);
  background-color: white;
  border: 1px solid rgb(145, 145, 145);
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 1440px) {
  h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) {
  body #list .container {
    width: 45%;
  }
  body #sort .container {
    width: 45%;
  }
}
@media screen and (max-width: 1000px) {
  body header .container {
    max-width: 768px;
    width: 95%;
    justify-content: space-evenly;
  }
  body header .container ul {
    display: none;
  }
  body header .container .menu {
    display: block !important;
  }
  body header .container button#burger {
    display: block !important;
    background: transparent;
    border: none;
    z-index: 1000;
  }
  body header .container button#burger img {
    width: 24px;
    height: 24px;
  }
  body header .container #navLinks {
    display: none;
    flex-direction: column;
    background-color: rgb(95, 72, 43);
    position: absolute;
    top: 65px;
    right: 14%;
    padding: 1rem;
    border-radius: 8px;
    z-index: 1000;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  body header .container #navLinks.active {
    display: flex;
    gap: 2vh;
    width: 20vh;
    box-shadow: 4px 6px 6px black;
  }
}
body main #user {
  width: 100%;
}

@media screen and (max-width: 600px) {
  body main #sort.container {
    width: 100%;
  }
  body main #user {
    width: 95%;
  }
  body main #user .container {
    width: 100%;
  }
  body main #list {
    width: 95%;
  }
  body main #list .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body main #sort .container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
